<form {{action "triggerAction" on="submit"}}>
  <div>
    {{input id="first-name" value=contact.firstName placeholder="Contact's first name"}}
  </div>
  <div>
    {{input id="last-name" value=contact.lastName placeholder="Contact's last name"}}
  </div>
  <div>
    {{input id="email" value=contact.email placeholder="Contact's email"}}
  </div>

  <h3>Phone Numbers</h3>
  <div>
    {{#each contact.phones as |phone|}}
      {{input class="phone-number" value=phone.number placeholder="Phone Number"}}
      {{view "select" value=phone.type content=phoneTypes}}
      <button {{action "removePhone" phone}}>Remove</button>
      <br />
      <br />

    {{/each}}
    <div>
      <button {{action "addPhone"}}>Add Phone</button>
    </div>
    <br />
  </div>

  <input type="submit" class="submit" {{bind-attr value=buttonText disabled=isInvalid}}/>
</form>
